.base-container {
  min-width: 18.75rem;
  max-width: 90rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
  overflow-x: hidden;
}
.flex {
  display: flex;
}
.header {
  padding-top: 3rem;
  margin-bottom: 4rem;
  &__logo {
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 3.375rem;
  }
  &__hero {
    &--wrapper {
      flex-flow: row wrap;
      align-items: center;
      gap: 3rem 1rem;
    }
    &__image-wrapper {
      flex: 1 1 0;
    }
    &__image {
      width: calc(100% + 1.5rem + 1.25rem);
      position: relative;
      &--left {
        transform: translate(-2.75rem, 0);
      }
    }
    &__text-wrapper {
    }
    &__title {
      margin-bottom: 1.5rem;
    }
    &__subtitle {
      margin-bottom: 2rem;
    }
    &__cta-wrapper {
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding-inline: 1rem;
    }
  }
}
.section-1 {
  margin-bottom: 4rem;
  &__image-gallery {
    margin-bottom: 4rem;
  }
  &__info {
    &__accent {
      margin-bottom: 1.5rem;
    }
    &__title {
      margin-bottom: 2rem;
    }
  }
}
.section-2 {
  position: relative;
  background: linear-gradient($c-4D96A9, $c-4D96A9) no-repeat;
  background-position: top 7rem center;
  isolation: isolate;
  --bg-image-image: url(../assets/mobile/image-footer.jpg);
  --bg-image-opacity: .1;
  &::after{
    content: '';
    z-index: -1;
    position: absolute;
    inset: 7rem 0 0;
    background: var(--bg-image-image) no-repeat;
    background-size: cover;
    opacity: var(--bg-image-opacity);
  }
  &__wrapper {
    flex-direction: column;
  }
  &__title {
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 1.5rem;
  }
  &__text {
    margin-inline: auto;
    margin-bottom: 2rem;
  }
  &__button{
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 4.5rem;
  }
}
